/*-------------------------------------------------------*\
	#CTAT--example
\*-------------------------------------------------------*/

.CTAT--example { /* general example highlighting */
	box-shadow: 0px 0px 15px 5px dodgerblue;
}
textarea.CTAT--example,
input.CTAT--example[type="text"] { /* font color change for text components */
	box-shadow: none;
	color: dodgerblue;
}
label.CTAT--example { /* labels for checkboxes and radio buttons */
	box-shadow: none;
	text-shadow: 0px 0px 5px dodgerblue;
}
input.CTAT--example[type="checkbox"],
input.CTAT--example[type="radio"] {
	box-shadow: 0px 0px 5px 0px dodgerblue;
}
.CTATNumberLine--point.CTAT--example {
	fill: dodgerblue;
}



.CTAT--AL_start { /* general example highlighting */
	box-shadow: 0px 0px 15px 5px darkcyan;
}
textarea.CTAT--AL_start,
input.CTAT--AL_start[type="text"] { /* font color change for text components */
	box-shadow: none;
	color: darkcyan;
}
label.CTAT--AL_start { /* labels for checkboxes and radio buttons */
	box-shadow: none;
	text-shadow: 0px 0px 5px darkcyan;
}
input.CTAT--AL_start[type="checkbox"],
input.CTAT--AL_start[type="radio"] {
	box-shadow: 0px 0px 5px 0px darkcyan;
}
.CTATNumberLine--point.CTAT--AL_start {
	fill: darkcyan;
}


/* -----------SASS CODE ----------------------------
// colors
$colors: darkorchid, #feb236, #d64161, #ff7b25, #a2b9bc, #b2ad7f, #878f99, #6b5b95;

@for $i from 1 through length($colors) {
  $c: nth($colors, $i);
  .CTAT--AL_highlight#{$i} {
    box-shadow: 0px 0px 15px 5px $c;
  }
  label.CTAT--AL_highlight#{$i} {
    box-shadow: none;
    text-shadow: 0px 0px 5px $c;
  }
  textarea.CTAT--AL_highlight#{$i},
  input.CTAT--AL_highlight#{$i}[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: $c;
  }
  input.CTAT--AL_highlight#{$i}[type="checkbox"],
  input.CTAT--AL_highlight#{$i}[type="radio"] {
    box-shadow: 0px 0px 5px 0px $c;
  }
  
  //.highlight#{$i} {
  //  background: $c;
  //}

  // ... do something fancy with $c
}
-----------SASS CODE END-------------------------
*/


.CTAT--AL_highlight1 {
  box-shadow: 0px 0px 15px 5px darkorchid;
}

label.CTAT--AL_highlight1 {
  box-shadow: none;
  text-shadow: 0px 0px 5px darkorchid;
}

textarea.CTAT--AL_highlight1,
input.CTAT--AL_highlight1[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: darkorchid;
}

input.CTAT--AL_highlight1[type="checkbox"],
input.CTAT--AL_highlight1[type="radio"] {
  box-shadow: 0px 0px 5px 0px darkorchid;
}

.CTAT--AL_highlight2 {
  box-shadow: 0px 0px 2px 2px #ff884d;
}

label.CTAT--AL_highlight2 {
  box-shadow: none;
  text-shadow: 0px 0px 5px #ff884d;
}

textarea.CTAT--AL_highlight2,
input.CTAT--AL_highlight2[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #ff884d;
}

input.CTAT--AL_highlight2[type="checkbox"],
input.CTAT--AL_highlight2[type="radio"] {
  box-shadow: 0px 0px 5px 0px #ff884d;
}

.CTAT--AL_highlight3 {
  box-shadow: 0px 0px 2px 2px #2f85ee;
}

label.CTAT--AL_highlight3 {
  box-shadow: none;
  text-shadow: 0px 0px 5px #2f85ee;
}

textarea.CTAT--AL_highlight3,
input.CTAT--AL_highlight3[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #2f85ee;
}

input.CTAT--AL_highlight3[type="checkbox"],
input.CTAT--AL_highlight3[type="radio"] {
  box-shadow: 0px 0px 5px 0px #2f85ee;
}

.CTAT--AL_highlight4 {
  box-shadow: 0px 0px 15px 5px #e44161;
}

label.CTAT--AL_highlight4 {
  box-shadow: none;
  text-shadow: 0px 0px 5px #e44161;
}

textarea.CTAT--AL_highlight4,
input.CTAT--AL_highlight4[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #e44161;
}

input.CTAT--AL_highlight4[type="checkbox"],
input.CTAT--AL_highlight4[type="radio"] {
  box-shadow: 0px 0px 5px 0px #e44161;
}

.CTAT--AL_highlight5 {
  box-shadow: 0px 0px 15px 5px #feb201;
}

label.CTAT--AL_highlight5 {
  box-shadow: none;
  text-shadow: 0px 0px 5px #feb201;
}

textarea.CTAT--AL_highlight5,
input.CTAT--AL_highlight5[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #feb201;
}

input.CTAT--AL_highlight5[type="checkbox"],
input.CTAT--AL_highlight5[type="radio"] {
  box-shadow: 0px 0px 5px 0px #feb201;
}

.CTAT--AL_highlight6 {
  box-shadow: 0px 0px 15px 5px #52d0e0;
}

label.CTAT--AL_highlight6 {
  box-shadow: none;
  text-shadow: 0px 0px 5px #52d0e0;
}

textarea.CTAT--AL_highlight6,
input.CTAT--AL_highlight6[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #52d0e0;
}

input.CTAT--AL_highlight6[type="checkbox"],
input.CTAT--AL_highlight6[type="radio"] {
  box-shadow: 0px 0px 5px 0px #52d0e0;
}

.CTAT--AL_highlight7 {
  box-shadow: 0px 0px 15px 5px #2f85ee;
}

label.CTAT--AL_highlight7 {
  box-shadow: none;
  text-shadow: 0px 0px 5px #2f85ee;
}

textarea.CTAT--AL_highlight7,
input.CTAT--AL_highlight7[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #2f85ee;
}

input.CTAT--AL_highlight7[type="checkbox"],
input.CTAT--AL_highlight7[type="radio"] {
  box-shadow: 0px 0px 5px 0px #2f85ee;
}

.CTAT--AL_highlight8 {
  box-shadow: 0px 0px 15px 5px #562ac6;
}

label.CTAT--AL_highlight8 {
  box-shadow: none;
  text-shadow: 0px 0px 5px #562ac6;
}

textarea.CTAT--AL_highlight8,
input.CTAT--AL_highlight8[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #562ac6;
}

input.CTAT--AL_highlight8[type="checkbox"],
input.CTAT--AL_highlight8[type="radio"] {
  box-shadow: 0px 0px 5px 0px #562ac6;
}

.CTAT--AL_highlight9 {
  box-shadow: 0px 0px 15px 5px #cc24cc;
}

label.CTAT--AL_highlight9 {
  box-shadow: none;
  text-shadow: 0px 0px 5px #cc24cc;
}

textarea.CTAT--AL_highlight9,
input.CTAT--AL_highlight9[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #cc24cc;
}

input.CTAT--AL_highlight9[type="checkbox"],
input.CTAT--AL_highlight9[type="radio"] {
  box-shadow: 0px 0px 5px 0px #cc24cc;
}


.hidden {
	visibility: hidden;
}

.nools_button{
	position: relative;
	top:100px;
	width:200px;
	font-size:20px;
	background-color: #999999;
}

.startstate_button{
	position: relative;
	width:200px;
	font-size:20px;
	background-color: #4CAF50;
}

.yes_button{
	width:100px;
	font-size:40px;
	background-color: #4CAF50;
}

.no_button{
	width:100px;
	font-size:40px;
	background-color: #f44336;
}

.foci_done_button{
	width:100px;
	font-size:40px;
	background-color: #4CAFFF;
}

.prompt_text{
	text-align:center;
	height:40px;
	font-size:25px;
}