

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1543189117047-12 {top: 200px; left: 160px; height: 40px; width: 40px; font-size: 30px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px; font-size: 30px;
        }
        .silex-id-1543189071511-1 {top: 140px; left: 260px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189076303-2 {top: 140px; left: 320px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189079303-3 {top: 140px; left: 380px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189085185-5 {top: 200px; left: 260px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189085201-6 {top: 200px; left: 320px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189085210-7 {top: 200px; left: 380px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189091257-8 {top: 260px; left: 200px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189091278-9 {top: 260px; left: 260px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189091292-10 {top: 260px; left: 320px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189091300-11 {top: 260px; left: 380px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543210624064-0 {top: 80px; left: 260px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543210624089-1 {top: 80px; left: 320px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543210669853-4 {top: 320px; left: 400px; height: 64px; width: 64px;
        }
        .silex-id-1543210680104-5 {top: 380px; left: 400px; height: 64px; width: 64px;
        }
        .silex-id-1543210686569-6 {top: 320px; left: 160px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1543210781327-7 {top: 80px; left: 200px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543222627917-10 {top: 220px; left: 180px; height: 40px; width: 280px; font-size: 30px;
        }
        .silex-id-1543189071512-13 {visibility: hidden; top: 80px; left: 380px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189071514-14 {visibility: hidden; top: 140px; left: 200px; height: 40px; width: 40px; font-size: 30px;
        }
        .silex-id-1543189071515-15 {visibility: hidden; top: 200px; left: 200px; height: 40px; width: 40px; font-size: 30px;
        }
    