

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1596041471614-0 {top: 380px; left: 140px; height: 140px; width: 306px;
        }
        .silex-id-1596041478101-1 {top: 40px; left: 40px; height: 40px; width: 100px;
        }
        .silex-id-1596041496885-2 {top: 100px; left: 40px; height: 1.4em; width: 100px;
        }
        .silex-id-1596041516655-3 {top: 120px; left: 40px; height: 1.4em; width: 100px;
        }
        .silex-id-1596041563428-4 {top: 40px; left: 220px; height: 1.4em; width: 100px;
        }
        .silex-id-1596041599443-5 {top: 100px; left: 240px; height: 42px; width: 132px;
        }
        .silex-id-1596041599443-5 > .CTATTable--row > .CTATTable--cell {width: 64px; height: 19px;
        }
        .silex-id-1596041611404-6 {top: 200px; left: 60px; height: 2em; width: 100px;
        }
        .silex-id-1596041624285-7 {top: 200px; left: 260px; height: 1.4em; width: 100px;
        }
    