

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1564578864278-0 {top: 40px; left: 160px; height: 20px; width: 20px;
        }
        .silex-id-1564578898066-1 {top: 20px; left: 200px; height: 1.4em; width: 20px;
        }
        .silex-id-1564578908082-2 {top: 40px; left: 240px; height: 20px; width: 20px;
        }
        .silex-id-1564578927600-3 {top: 40px; left: 280px; height: 22px; width: 20px;
        }
        .silex-id-1564578937527-4 {top: 20px; left: 320px; height: 1.4em; width: 20px;
        }
        .silex-id-1564578981716-5 {top: 40px; left: 40px; height: 20px; width: 100px;
        }
        .silex-id-1564603718638-11 {top: 100px; left: 360px; height: 1.4em; width: 100px;
        }
        .silex-id-1564603723414-12 {top: 100px; left: 40px; height: 20px; width: 300px;
        }
        .silex-id-1564602968370-0 {top: 160px; left: 200px; height: 20px; width: 300px;
        }
        .silex-id-1564603019708-1 {top: 160px; left: 540px; height: 20px; width: 20px;
        }
        .silex-id-1564603025085-2 {top: 140px; left: 580px; height: 1.4em; width: 20px;
        }
        .silex-id-1564603149937-4 {top: 200px; left: 200px; height: 20px; width: 300px;
        }
        .silex-id-1564603198322-5 {top: 200px; left: 540px; height: 1.4em; width: 60px;
        }
        .silex-id-1564603878316-13 {top: 240px; left: 40px; height: 20px; width: 140px; text-align: center;
        }
        .silex-id-1564603416961-6 {top: 260px; left: 200px; height: 20px; width: 300px;
        }
        .silex-id-1564603627279-7 {top: 260px; left: 540px; height: 20px; width: 20px;
        }
        .silex-id-1564603639901-8 {top: 240px; left: 580px; height: 20px; width: 20px;
        }
        .silex-id-1564603653226-9 {top: 300px; left: 200px; height: 20px; width: 300px;
        }
        .silex-id-1564603665574-10 {top: 300px; left: 540px; height: 1.4em; width: 60px;
        }
        .silex-id-1564604271310-16 {top: 360px; left: 200px; height: 20px; width: 300px;
        }
        .silex-id-1564604321983-17 {top: 360px; left: 540px; height: 20px; width: 20px;
        }
        .silex-id-1564604332843-18 {top: 340px; left: 580px; height: 1.4em; width: 20px;
        }
        .silex-id-1564579779770-31 {top: 540px; left: 20px; height: 140px; width: 306px;
        }
        .silex-id-1564579796045-32 {top: 540px; left: 340px; height: 140px; width: 300px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1564580172474-33 {top: 500px; left: 40px; height: 20px; width: 160px;
        }
        .silex-id-1564580184218-34 {top: 500px; left: 240px; height: 1.4em; width: 100px;
        }
        .silex-id-1564587410390-6 {top: 420px; left: 200px; height: 20px; width: 300px;
        }
        .silex-id-1564587774178-9 {top: 460px; left: 540px; height: 20px; width: 60px;
        }
        .silex-id-1564603905330-14 {top: 440px; left: 40px; height: 20px; width: 140px; text-align: center;
        }
        .silex-id-1564604020337-15 {top: 460px; left: 200px; height: 20px; width: 300px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 646px; height: 695px;
        }
        .silex-id-1564605498662-0 {top: 420px; left: 540px; height: 1.4em; width: 60px;
        }
    