

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1706644694656-2 {top: 90px; left: 50px; height: 1.4em; width: 100px;
        }
        .silex-id-1706644794998-8 {top: 131px; left: 50px; height: 1.4em; width: 100px;
        }
        .silex-id-1706644846327-12 {top: 170px; left: 50px; height: 1.4em; width: 100px;
        }
        .silex-id-1706644826201-11 {top: 210px; left: 380px; height: 64px; width: 64px;
        }
        .silex-id-1706644782335-6 {top: 90px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1706644798178-9 {top: 130px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1706644847782-13 {top: 170px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1706644734386-4 {top: 40px; left: 200px; height: 40px; width: 100px; text-align: center;
        }
        .silex-id-1706644756997-5 {top: 40px; left: 50px; height: 40px; width: 100px; text-align: center;
        }
        .silex-id-1706646008804-1 {top: 90px; left: 160px; height: 20px; width: 40px; text-align: center;
        }
        .silex-id-1706646051790-2 {top: 130px; left: 160px; height: 20px; width: 40px; text-align: center;
        }
        .silex-id-1706646053748-3 {top: 170px; left: 160px; height: 20px; width: 40px; text-align: center;
        }
        .silex-id-1706644700057-3 {top: 40px; left: 350px; height: 40px; width: 140px;
        }
        .silex-id-1706644786412-7 {top: 90px; left: 350px; height: 1.4em; width: 140px;
        }
        .silex-id-1706644801352-10 {top: 130px; left: 350px; height: 1.4em; width: 140px;
        }
    
