

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1686514203963-18 {top: 27px; left: 144px; height: 252px; width: 252px;
        }
        .silex-id-1686514603867-24 {top: 338px; left: 276px; height: 25px; width: 56px;
        }
        .silex-id-1686514342250-21 {top: 54px; left: 281px; height: 16px; width: 22px; padding-left: 4px; font-size: 20px;
        }
        .silex-id-1686514257240-20 {top: 140px; left: 348px; height: 19px; width: 25px; background-color: rgb(255, 255, 255); padding-left: 4px; padding-top: 8px;
        }
        .silex-id-1686515029386-29 {top: 38px; left: 236px; height: 18px; width: 70px; font-size: 12px;
        }
        .silex-id-1686514803833-27 {top: 289px; left: 116px; height: 36px; width: 320px;
        }
        .silex-id-1686514394905-22 {top: 53px; left: 230px; height: 26px; width: 50px;
        }
        .silex-id-1686514223300-19 {top: 140px; left: 304px; height: 26px; width: 44px;
        }
        .silex-id-1686514988083-28 {top: 125px; left: 315px; height: 14px; width: 53px; background-color: rgb(255, 255, 255); font-size: 12px; padding-bottom: 2px;
        }
        .silex-id-1686514642447-26 {top: 338px; left: 195px; height: 26px; width: 73px;
        }
    