

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1686512520985-17 {top: 88px; left: 48px; height: 27px; width: 197px; font-size: 18px;
        }
        .silex-id-1686511730730-8 {top: 60px; left: 49px; height: 26px; width: 198px; font-size: 18px;
        }
        .silex-id-1686511891926-9 {top: 60px; left: 248px; height: 26px; width: 30px;
        }
        .silex-id-1686511484978-3 {top: 134px; left: 173px; height: 26px; width: 30px;
        }
        .silex-id-1686511473672-2 {top: 134px; left: 207px; height: 26px; width: 46px; font-size: 18px;
        }
        .silex-id-1686511513824-4 {top: 134px; left: 252px; height: 26px; width: 30px;
        }
        .silex-id-1686511894379-10 {top: 60px; left: 309px; height: 26px; width: 30px;
        }
        .silex-id-1686511896747-11 {top: 60px; left: 358px; height: 26px; width: 30px;
        }
        .silex-id-1686512115791-14 {top: 60px; left: 342px; height: 26px; width: 14px; font-size: 18px;
        }
        .silex-id-1686512043962-13 {top: 60px; left: 281px; height: 26px; width: 26px; font-size: 18px; margin-top: 0px; padding-top: 0px;
        }
        .silex-id-1686511898823-12 {top: 60px; left: 420px; height: 26px; width: 30px;
        }
        .silex-id-1686512447738-16 {top: 60px; left: 452px; height: 26px; width: 27px; font-size: 18px;
        }
        .silex-id-1686512318394-15 {top: 60px; left: 392px; height: 26px; width: 26px; font-size: 18px;
        }
        .silex-id-1686511619818-7 {top: 134px; left: 314px; height: 26px; width: 30px;
        }
        .silex-id-1686511545920-5 {top: 134px; left: 286px; height: 26px; width: 27px; font-size: 18px;
        }
    