

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1683418193184-0 {top: 80px; left: 140px; height: 220px; width: 260px;
        }
        .silex-id-1683418268742-5 {top: 345px; left: 157px; height: 32px; width: 114px;
        }
        .silex-id-1683418290737-7 {top: 347px; left: 288px; height: 23px; width: 55px;
        }
        .silex-id-1683418337056-8 {top: 305px; left: 134px; height: 35px; width: 278px;
        }
        .silex-id-1683418218267-1 {top: 193px; left: 169px; height: 30px; width: 40px;
        }
        .silex-id-1683418258145-4 {top: 154px; left: 201px; height: 30px; width: 39px;
        }
        .silex-id-1683418248636-2 {top: 184px; left: 115px; height: 30px; width: 37px;
        }
        .silex-id-1683418252948-3 {top: 79px; left: 243px; height: 30px; width: 37px; font-size: 14px;
        }
        .silex-id-1683419540235-9 {top: 200px; left: 212px; height: 17px; width: 21px; font-size: 10px;
        }
    