

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1595438363108-0 {top: 340px; left: 120px; height: 140px; width: 306px;
        }
        .silex-id-1595438392218-1 {top: 160px; left: 120px; height: 100px; width: 280px; font-family: Courier New, Courier New, Courier, monospace; padding: 10px;
        }
        .silex-id-1595438412452-2 {top: 160px; left: 120px; height: 100px; width: 280px; font-family: Courier New, Courier New, Courier, monospace; padding: 10px;
        }
    