

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1595445526489-0 {top: 360px; left: 120px; height: 140px; width: 306px;
        }
        .silex-id-1595445789095-2 {top: 120px; left: 40px; height: 45px; width: 45px;
        }
        .silex-id-1595445809442-5 {top: 120px; left: 200px; height: 45px; width: 45px;
        }
        .silex-id-1595445813658-6 {top: 120px; left: 340px; height: 45px; width: 45px;
        }
        .silex-id-1595445944595-11 {top: 120px; left: 280px; height: 45px; width: 45px; text-align: center; font-size: 32px;
        }
        .silex-id-1595445939385-10 {top: 120px; left: 120px; height: 45px; width: 45px; text-align: center; font-size: 32px;
        }
        .silex-id-1595446131706-16 {top: 280px; left: 340px; height: 45px; width: 60px;
        }
        .silex-id-1595446129304-15 {top: 280px; left: 220px; height: 45px; width: 60px;
        }
        .silex-id-1595446122349-14 {top: 280px; left: 80px; height: 45px; width: 60px;
        }
        .silex-id-1595446052533-12 {top: 200px; left: 180px; height: 45px; width: 40px; font-size: 32px; text-align: center;
        }
    