

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1683403793585-8 {top: 220px; left: 40px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683403821531-9 {top: 220px; left: 100px; height: 40px; width: 340px;
        }
        .silex-id-1683403771700-7 {top: 100px; left: 120px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683403487686-2 {top: 90px; left: 50px; height: 40px; width: 60px; font-weight: bold; font-size: 30px; text-align: center;
        }
        .silex-id-1683404016599-19 {top: 90px; left: 170px; height: 40px; width: 60px; font-weight: bold; font-size: 30px; text-align: center;
        }
        .silex-id-1683404038454-23 {top: 320px; left: 120px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683404038445-22 {top: 320px; left: 50px; height: 40px; width: 60px; font-weight: bold; font-size: 30px; text-align: center;
        }
        .silex-id-1683404038460-26 {top: 320px; left: 170px; height: 40px; width: 60px; font-weight: bold; font-size: 30px; text-align: center;
        }
        .silex-id-1683404117711-34 {top: 320px; left: 240px; height: 40px; width: 40px; font-size: 30px; text-align: center;
        }
        .silex-id-1683404082100-30 {top: 320px; left: 300px; height: 40px; width: 60px; font-weight: bold; font-size: 30px; text-align: center;
        }
        .silex-id-1683404377375-35 {top: 420px; left: 40px; height: 100px; width: 240px; display: flex;
        }
        .silex-id-1683404396701-36 {top: 440px; left: 300px; height: 64px; width: 64px;
        }
        .silex-id-1683404401618-37 {top: 440px; left: 380px; height: 64px; width: 64px;
        }
        .silex-id-1683403986912-17 {top: 70px; left: 60px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683404000450-18 {top: 130px; left: 60px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683404016601-20 {top: 70px; left: 180px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683404016603-21 {top: 130px; left: 180px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683404038456-24 {top: 300px; left: 60px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683404038458-25 {top: 360px; left: 60px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683404038462-27 {top: 300px; left: 180px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683404038464-28 {top: 360px; left: 180px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683404082103-31 {top: 300px; left: 310px; height: 42px; width: 40px; font-size: 30px;
        }
        .silex-id-1683404082105-32 {top: 360px; left: 310px; height: 42px; width: 40px; font-size: 30px;
        }
    