

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1547525450613-1 {top: 240px; left: 140px; height: 60px; width: 60px;
        }
        .silex-id-1547525463725-3 {top: 240px; left: 280px; height: 60px; width: 60px;
        }
        .silex-id-1547525459769-2 {top: 250px; left: 220px; height: 40px; width: 40px;
        }
        .silex-id-1547525469763-4 {top: 240px; left: 380px; height: 60px; width: 60px;
        }
        .silex-id-1547525550011-6 {top: 255px; left: 340px; height: 40px; width: 40px; font-size: 30px; text-align: center;
        }
        .silex-id-1547526419380-0 {top: 320px; left: 140px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1547526439827-1 {top: 320px; left: 380px; height: 64px; width: 64px;
        }
        .silex-id-1547526447104-2 {top: 385px; left: 380px; height: 64px; width: 64px;
        }
    